.Ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #222;
    padding: 10px 20px;
    font-weight: bold;
    width: 180px;
    height: 120px;
    box-shadow: 0 1px 4px 3px #888;
    margin-bottom: 5px;
}

.Ad p {
margin: 0;
}

p.Ad_choice {
margin-top: 5px;
font-family: Caveat;
}

.Ad--dark {
    color: #fff;
    background-color: #222;
    border-color: white;
}